@model IEnumerable<ExpenseTrackerMVCApp.Models.TotalModel>

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<head>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript">

        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "light2",
                animationEnabled: true,
                title: {
                    text: "Totals Chart View"
                },
                data: [
                    {
                        type: "pie", //change type to bar, line, area, pie, etc
                        dataPoints: @Html.Raw(ViewBag.DataPoints)
                        //[
                        //    { x: 10, y: 71 },
                        //    { x: 20, y: 55 },
                        //    { x: 30, y: 50 },
                        //    { x: 40, y: 65 },
                        //    { x: 50, y: 95 },
                        //    { x: 60, y: 68 },
                        //    { x: 70, y: 28 },
                        //    { x: 80, y: 34 },
                        //    { x: 90, y: 14 }
                        //]
                        
                    }
                ]
            });
            chart.render();
        };
    </script>
</head>



<h1>Expense Tracker v1.0</h1>
<img src="https://cdn-icons-png.flaticon.com/512/10209/10209220.png" width="50" height="60"></img>

<div class="body d-sm-inline-flex justify-content-between">
    @if (User.Identity.IsAuthenticated)
    {
    <div>
        <button id="add-expense-home" class="body-toggler" type="button">
                <a class="nav-link text-dark" asp-area="" asp-controller="Expenses" asp-action="Index">View Expenses</a>
        </button>
        

        <div id="expenses-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalExpenses)
                        </th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                <tr>
                <td>
                @Html.DisplayFor(modelItem => item.TotalExpenses)
                </td>
                </tr>
                }
                </tbody>
            </table>
        </div>

    </div>
    <div>
        <button id="add-income-home" class="body-toggler" type="button">
            <a class="nav-link text-dark" asp-area="" asp-controller="Income" asp-action="Index">View Income</a>
        </button>
        <div id="income-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalIncome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Balance)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                <tr>
                <td>
                @Html.DisplayFor(modelItem => item.TotalIncome)
                </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Balance)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    }
    else
    {
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <p>Please login to continue.</p>
                        </div>
    }
</div>
<div id="chartContainer">

</div>
<div class="float-right">
    <img src="https://previews.123rf.com/images/olgacov/olgacov1202/olgacov120200021/12485192-unbalanced-silver-scale-with-money-coines-and-banknotes-isolated-on-white-background.jpg" width="225" height="165"></img>
</div>