@model IEnumerable<ExpenseTrackerMVCApp.Models.TotalModel>

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Expense Tracker v1.0</h1>
<img src="https://cdn-icons-png.flaticon.com/512/10209/10209220.png" width="50" height="60"></img>

<div class="body d-sm-inline-flex justify-content-between">
    @if (User.Identity.IsAuthenticated)
    {
    <div>
        <button id="add-expense-home" class="body-toggler" type="button">
                <a class="nav-link text-dark" asp-area="" asp-controller="Expenses" asp-action="Index">View Expenses</a>
        </button>
        

        <div id="expenses-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalExpenses)
                        </th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                <tr>
                <td>
                @Html.DisplayFor(modelItem => item.TotalExpenses)
                </td>
                </tr>
                }
                </tbody>
            </table>
        </div>

    </div>
    <div>
        <button id="add-income-home" class="body-toggler" type="button">
            <a class="nav-link text-dark" asp-area="" asp-controller="Income" asp-action="Index">View Income</a>
        </button>
        <div id="income-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalIncome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Balance)
                        </th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                <tr>
                <td>
                @Html.DisplayFor(modelItem => item.TotalIncome)
                </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Balance)
                            </td>
                </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    }
    else
    {
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <p>Please login to continue.</p>
                        </div>
    }
</div>